$navbar-light-color: black;
$navbar-light-hover-color: #41B883;
$navbar-light-color:  black;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

.error-container {
  position:absolute;
  z-index:2000;
  width:100%;
}

.nav-link{
  font-weight: 400;
}

.btn {
  font-weight: 700;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: black;
  font-weight: 500;
}

.form-content {
  min-width:15rem;
}

.center-viewport {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-form-background {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22.5rem;
  min-height: 28rem;
  background-color: #563d7c;
  border-radius: 0.5rem;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20.5rem;
  min-height: 26rem;
  background-color: #41B883;
  border-radius: 0.5rem;
}

.login-form-card {
  padding: 1rem 1rem;
  border-radius: 0.8rem;
  min-height: 24rem;
}

.barcode1-img {
  position: absolute;
  top: -6%;
  left: 11%;
  width: 7rem;
  // transform: rotate(-30deg);
  z-index: 1;
}

.checklist-img {
  position: absolute;
  top: -8%;
  left: 78%;
  width: 3.5rem;
  // transform: rotate(-30deg);
  z-index: 1;
}

.barcode2-img {
  position: absolute;
  top: 95%;
  left: 63%;
  width: 7rem;
  // transform: rotate(-30deg);
  z-index: 1;
}

.box2-img {
  position: absolute;
  top: 94%;
  left: 10%;
  width: 6rem;
  // transform: rotate(-30deg);
  z-index: 1;
}

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: space;
  height: 82vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.add-edit-cancel-btn {
  width: 100%;
  background-color: gray;
  color: black;
  font-weight: 500;
  border: solid black 0.1rem;
  border-radius:1rem;
}

.add-edit-category-form-content {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 23rem;
  min-height: 20rem;
  border-radius: 2rem;
  border: solid 0.2rem;
  background-color: #ffe6cc;
}

.cat-pro-modal-content {
  width:30rem;
  display: flex;
  align-items: center;
}

.add-edit-category-form {
  margin: auto;
  width: 20rem;
}

.add-edit-category-form-title {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.category-form-btn-container {
  margin-top: 2rem;
}

.add-edit-category-btn {
  width: 100%;
  background-color: orange ;
  color:black;
  font-weight: 500;
  border: solid black 0.1rem;
  border-radius: 1rem;
}

.category-cancel-btn {
  width: 100%;
  background-color: grey;
  color: white;
  font-weight: 500;
  border: solid black 0.1rem;
  border-radius: 1rem;
}

label {
  text-align: left;
  font-weight: 700;
}

input[type=text], input[type=email], input[type=password], input[type=date], input[type=number]  {
  border: solid black .1rem;
  border-radius: 1rem;
  color: black;
}

.text-area {
  border: solid black .1rem;
  border-radius: 0.5rem;
  color: black;
}

.add-edit-product-form-content {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 23rem;
  min-height: 28rem;
  border-radius: 1rem;
  border: solid 0.2rem;
  background-color: #ffe6cc;
}

.add-edit-product-form {
  margin: auto;
  width: 20rem;
}

.add-edit-product-form-title {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.product-form-btn-container {
  margin-top: 2rem;
}

.add-edit-product-btn {
  width: 100%;
  background-color: orange ;
  color:black;
  font-weight: 500;
  border: solid black 0.1rem;
  border-radius:1rem;
}

.product-cancel-btn {
  width: 100%;
  background-color: grey;
  color: black;
  font-weight: 500;
  border: solid black 0.1rem;
  border-radius:1rem;
}

.category-select {
  border-radius: 1rem;
  font-weight: 500;
  color: black;
  border: solid black 0.1rem;
}

#info-modal {
  z-index: 9999;
}

.info-modal-text-container {
  padding: 0.5rem 1.3rem 1.3rem 1.3rem;
}

.info-modal-content {
  border-radius: 1rem;
}

.modal-header {
  padding: 1rem 1.5rem;
}

.card {
  /* min-width:85px;
  max-width:100px; */
  /* height:160px; */
  border-style: none;
}

.card-body {
  padding: 0;
}

.card-title {
  font-weight: bold;
  margin-top: 0;
}

.description {
  text-align: start;
}

@media only screen and (max-width: 505px) {
  .card-title {
     font-size: small;
  }
}

// @media only screen and (max-width: 429px) {
//   .card-title {
//      font-size: small;
//   }
// }

// @media only screen and (max-width: 464px) {
//   .card-title {
//      font-size: medium;
//   }
// }

@media only screen and (min-width: 576px) {
  .card-title {
     font-size: small;
  }
}